@model IEnumerable<Portfolio.Models.Munkaim>
@{
    ViewBag.Title = "MyWorks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/image_card.css" />
<br />
<link rel="stylesheet" type="text/css" href="~/Content/video_player.css" />



<div class="row h-100 justify-content-center align-items-center">
    @foreach (var f in Model)
    {@Html.Partial("_VideoPlayer", f)}
</div>




<style>
    .containerCard .containerCardStanding {
        background: center no-repeat;
        background-size: 100% 100%;
    }
</style>