@model IEnumerable<Portfolio.Models.Experience>
@{
    ViewBag.Title = "Experience";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Feedbacks about my works</h2>
<div class="row justify-content-center align-items-center">
    <a href="Experience/New" class="btn_contact" style="width:50%"><span>New Experience!</span></a>
</div>
    <div class="row">
        @foreach (var f in Model)
        {
            @Html.Partial("_Experience", f)
        }

    </div>
  


