@model IEnumerable<Portfolio.Models.Feedback>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["success"]!=null)
{<div class='alert alert-success' role='alert' style="margin-top:20px;">
        @TempData["success"]
    </div>
}
<h2 class="text-center">Feedbacks about my works</h2>
<div class="row  h-100 justify-content-center align-items-center">
    <a href="Feedback/New" class="btn_contact" style="width:50%"><span>Rate my work!</span></a>
</div>
<div class="row h-100">
    @foreach (var f in Model)
    {
        @Html.Partial("_Feedback", f)
    }

</div>

