@model IEnumerable<Portfolio.Models.Feedback>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Feedbacks about my works</h2>
<a href="Feedback/New" class="btn btn-success" style="width:100%">Rate my Work!</a>

<div class="container-fluid">
    <div class="row">
        @foreach (var f in Model)
        {
            @Html.Partial("_Feedback", f)
        }

    </div>
</div>