@model IEnumerable<Portfolio.Models.Feedback>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<a href="Feedback/New" class="btn btn-light">Give me a feedback</a>

<div class="container-fluid">
    <div class="row">
        @foreach (var f in Model)
        {
            @Html.Partial("_Feedback", f)
        }

    </div>
</div>