@model IEnumerable<Portfolio.Models.Email>
@{
    ViewBag.Title = "Manage Emails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Manage new emails</h2>

<div class="container-fluid">
     
        @foreach (var f in Model)
        {
            @Html.Partial("_ManageEmails", f)
        }
     
</div>