
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<video id="videoplayer" controls="controls" width="450" height="450">
    <source  src="@Url.Content("~/Content/Video/test.mp4")" type="video/mp4"/>
</video>

