@model Portfolio.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}


<h4 style="font-weight:bold;">Account management</h4>
<p class="text-success">@ViewBag.StatusMessage</p>
<div> 
        Change password:
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change", "ChangePassword")
            } 
</div>
