@model IEnumerable<Portfolio.Models.Feedback>
@{
    ViewBag.Title = "Manage Feedbacks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage feedbacks</h2>

<div class="container-fluid">
        @foreach (var f in Model)
        {
            @Html.Partial("_ManageFeedbacks", f)
        }
</div>