@model IEnumerable<Portfolio.Models.Email>
@{
    ViewBag.Title = "Manage Emails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage feedbacks</h2>

<div class="container-fluid">
    
        @foreach (var f in Model)
        {
            @Html.Partial("_SeenEmails", f)
        } 
</div>