
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tudok lélegezni, szerintem ez elég érv ahhoz hogy munkát adj, meg amúgy tudok sokat és keveset is enni egyszerre, úgy hogy a helyzet az nem túl jó,de nem is vészes</h2>

