 
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
 
.dl-horizontal dt {
    white-space: normal;
}
 
input,
select,
textarea {
    max-width: 100%;
}*/

.badge-notification {
    position: relative;
    margin-right: 10px;
}

    .badge-notification[data-badge]::after {
        content: attr(data-badge);
        position: absolute;
        top: 0px;
        right: -10px;
        display: flex;
        justify-content: center;
        align-content: center;
        width: 22px;
        height: 22px;
        line-height: 22px;
        font-size: 12px;
        font-weight: 600;
        border-radius: 50%;
        background: var(--secondary);
        color: #fff;
    }

span.badge-notification {
    margin-right: 24px;
}

    span.badge-notification[data-badge]::after {
        top: -11px;
        right: -24px;
    }
