
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
 
.dl-horizontal dt {
    white-space: normal;
}
 
input,
select,
textarea {
    max-width: 100%;
}

.badge-notification {
    position: relative;
    margin-right: 10px;
}

    .badge-notification[data-badge]::after {
        content: attr(data-badge);
        position: absolute;
        top: 0px;
        right: -10px;
        display: flex;
        justify-content: center;
        align-content: center;
        width: 22px;
        height: 22px;
        line-height: 22px;
        font-size: 12px;
        font-weight: 600;
        border-radius: 50%;
        background: red;
        color: #fff;
    }

span.badge-notification {
    margin-right: 24px;
}

    span.badge-notification[data-badge]::after {
        top: -11px;
        right: -24px;
    }

.phone {
    width: 32px;
    height: 32px;
    background-color: #327355;
    -webkit-transition: width .5s, font-size .5s;
    position: absolute;
    right: 0;
    top:32px;
    font-size: 0%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

    .phone:hover {
        width: 180px;
        font-size: 100%;
    }

.email {
    width: 32px;
    height: 32px;
    background-color: #D44638;
    -webkit-transition: width .5s, font-size .5s;
    position: absolute;
    right: 0;
    top: 0px;
    font-size: 0%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

    .email:hover {
        width: 250px;
        font-size: 100%;
    }

.linkedin {
    width: 32px;
    height: 32px;
    background-color: #2867b2;
    -webkit-transition: width .5s, font-size .5s;
    position: absolute;
    right: 0;
    top: 64px;
    font-size: 0%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

    .linkedin:hover {
        width: 130px;
        font-size: 100%;
    }

.behance {
    width: 32px;
    height: 32px;
    background-color: #1769ff;
    -webkit-transition: width .5s, font-size .5s;
    position: absolute;
    right: 0;
    top: 96px;
    font-size: 0%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

    .behance:hover {
        width: 130px;
        font-size: 100%;
    }

.github {
    width: 32px;
    height: 32px;
    background-color: #211f1f;
    -webkit-transition: width .5s, font-size .5s;
    position: absolute;
    right: 0;
    top: 128px;
    font-size: 0%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

    .github:hover {
        width: 130px;
        font-size: 100%;
    }

.arthungry {
    width: 32px;
    height: 32px;
    background-color: #D1D1D1;
    -webkit-transition: width .5s, font-size .5s;
    position: absolute;
    right: 0;
    top: 160px;
    font-size: 0%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

    .arthungry:hover {
        width: 130px;
        font-size: 100%;
    }

.arthungryLink {
    color: black;
}


.behanceLink {
    color: black;
}


.phoneLink {
    color: black;
}


.emailLink {
    color: black;
}


.linkedinLink {
    color: black;
}
.githubLink{
    color:white;
}
.contact-header {
    background: linear-gradient(to right, #0ABF04, #0BD904);
}
.btn_contact {
    width:100%;
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    background-color: #222;
    padding: 17px 60px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

    .btn_contact span {
        position: relative;
        z-index: 1;
    }

    .btn_contact:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 800%;
        width: 200%;
        background: #0BD904;
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
        transform: translateX(-98%) translateY(-25%) rotate(45deg);
    }

    .btn_contact:hover:after {
        -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
        transform: translateX(-9%) translateY(-25%) rotate(45deg);
    }
 

